local.properties

used-ids.txt
out/
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

.DS_Store

# Gradle
build
.gradle
gradle-app.setting
gradle/local.gradle

# For Ant/Eclipse (old projects)
bin/
gen/

# Android Studio/IntelliJ IDEA project files
.idea/*
*.iml

# Shared Studio/IntelliJ IDEA project files
.idea/codeStyleSettings.xml
!.idea/runConfigurations

# vim
*.swp

# Ast helper files
ast.json
ast.sh
.externalNativeBuild
